html,body{background-color:#F5F5F5;color:#333333;font-family: Verdana,sans-serif}
body { margin: 0; padding: 8px; margin-bottom: auto}
html {	overflow-y: scroll; }
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
table {  border-collapse: separate; border-spacing: 2px; border-style:none;}
table td{border-style:none;}
img.fullsize, video { max-width: 100%; height: auto; }
fieldset {padding: 0;}
form textarea { display: block; }
hr {clear: both; border: none;border-top: 1px solid #CCC;height: 0; margin: 4px}
sub {vertical-align: sub;font-size: smaller;}
sup {vertical-align: super;	font-size: smaller;}
td, td img {vertical-align: top;}
blockquote{display:block;margin: 1em 35px;font-size:1em;}
span {}
a, .a-link-emulator {	color:#00716a;	margin:0;	padding:0;	font-size:100%;	vertical-align:baseline;	background:transparent; cursor: pointer; text-decoration: none;}
a:hover, .a-link-emulator:hover{color:#de7800;}

/*Bootstrap override*/
.media-body {
    width: auto;
}
.popover-custom {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  background-color: #EFEFEF;
  border: solid 1px #444444;
}
/*Various classes*/
.dropzone {
    width: 100%;
    height: 50px;
    border-width: 2px;
    border-color: #CCCCCC;
    border-style: dashed;
    border-radius: 2px;
}
.create-dialog {
  min-width: 300px;
}
.editor-wrapper {
  min-height: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.replies {
  font-size: 75%;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.replies a {
  margin-right: 4px;
}
.thumb {
  display: block;
  margin: 0 auto;
	min-width: 36px;
	min-height: 36px;
	max-width: 100%;
	max-height: 100%;
  object-fit: contain;
}
.thumb-box{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
	max-width: 200px;
	max-height: 200px;
}
.thumb-box .item {
	margin: 1px;
	width: 96px;
	height: 96px;
  background: #FFF;
  border: solid 1px #CCCCCC;
  border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.postbtn {
	outline: none;
	cursor: pointer;
	margin: -2px 1px 0 0;
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
}
.href{
  text-align: center;
  padding: 3px;
}
.href.title{
  font-size: 1.17em;
	font-weight: bold;
}
.message-text {
  line-height: normal;
	max-height: 800px;
  margin: 10px 25px;
	overflow: auto;
  white-space: -moz-pre-wrap !important;
  white-space: pre-wrap;
  word-break: keep-all;
  white-space: pre-wrap;
  word-wrap: normal;
  border: none;
  padding: 0;
}
blockquote.message-text p { margin: 0 auto}
blockquote.message-text ul { margin: 0 auto; padding: 0 40px; margin-bottom: 0px; float: left}
blockquote.message-text li { float: left}
blockquote.message-text br:after { content: "" }
blockquote.message-text br { content: "" }
.post {
		margin: 0px 0px 4px 0px;
		overflow: visible;
		word-wrap: break-word;
}
.post-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin: 2px;
    overflow: visible;
    word-wrap: break-word;
    align-items: flex-start;
}
.message {
	display: inline-block;
	min-width: 26.4em;
	max-width: 100%;
	background: #EFEFEF;
	border: solid 1px #CCCCCC;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.op {
	display: inline-block;
	min-width: 26.4em;
	max-width: 100%;
}
.message-header{
  margin-bottom: 4px;
}
.message-title{background:inherit;font-size:1em;	color:#002244;font-weight:bold;}
.message-body{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
  margin: 2px;
}
.reply-panel {
    margin-left: 20px;
    padding-bottom: 0.3rem;
}
.newCount {
	position: fixed;
	margin: 0;
  top: 0;
	left: 50%;
  transform: translate(-50%, 0);
	padding: 3px;
	z-index: 8888;
	background: #DDDDDD;
	border: dashed 1px #00716a;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
#content-viewer {
	position: fixed;
	margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 95%;
	display: none;
	padding: 3px;
	z-index: 9999;
	background-color: rgb(85, 85, 85);
}
#content {
	height: 100%;
	width: 100%;
	object-fit: scale-down;
	min-width: 36px;
	min-height: 36px;
	background-color: #FFF;
}
