html,body{background-color:#EEEEEE;color:#333333;font-family: Verdana,sans-serif;font-size:1em;}
body { margin: 0; padding: 8px; margin-bottom: auto;font-size:0.9em; }
html {	overflow-y: scroll; }
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
table {  border-collapse: separate; border-spacing: 2px; border-style:none;}
table td{border-style:none;}
img.fullsize, video { max-width: 100%; height: auto; }
fieldset {padding: 0;}
form textarea { display: block; }
hr {clear: both; border: none;border-top: 1px solid #DDD;height: 0;}
sub {vertical-align: sub;font-size: smaller;}
sup {vertical-align: super;	font-size: smaller;}
td, td img {vertical-align: top;}
span {padding: 5px}
a, .a-link-emulator {	color:#00716a;	margin:0;	padding:0;	font-size:100%;	vertical-align:baseline;	background:transparent; cursor: pointer; text-decoration: none;}
a:hover, .a-link-emulator:hover{color:#de7800;}

/*Various classes*/
.thumb {
	min-width: 36px;
	min-height: 36px;
	max-width: 200px;
	max-height: 200px;
}
.postbtn {
	outline:none;
	cursor:pointer;
	margin:-2px 1px 0 0;
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
}
.href{
  text-align: center;
  padding: 3px;
}
.href.title{
  font-size: 1.17em;
	font-weight: bold;
}
.message-title {
  width: 100%;
}
.message-text {
	max-height: 800px; margin: 1em 35px; overflow: auto;
	white-space: pre;
}
.post {
		margin: 0px 0px 4px 0px;
		overflow: visible;
		word-wrap: break-word;
}
.post-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 0px 4px 0px;
    overflow: visible;
    word-wrap: break-word;
    align-items: flex-start;
		max-width: 95%;
}
.message {
	display: inline-block;
	min-width: 26.4em;
	max-width: 100%;
	background: #DDDDDD;
	border: solid 1px #CCCCCC;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.message .header{
  margin-bottom: 4px;
}
.message .message-title{background:inherit;font-size:1em;	color:#002244;font-weight:bold;}
.message .multi-attach{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.reply-panel {
    margin-left: 20px;
    padding-bottom: 0.3rem;
}
.newCount {
	position: fixed;
	margin: 0;
  top: 0;
	left: 50%;
  transform: translate(-50%, 0);
	padding: 3px;
	z-index: 8888;
	background: #DDDDDD;
	border: dashed 1px #00716a;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
#content-viewer {
	position: fixed;
	margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	display: none;
	padding: 3px;
	z-index: 9999;
	background-color: rgb(85, 85, 85);
}
#content {
	height: 100%;
	width: 100%;
	object-fit: scale-down;
	min-width: 36px;
	min-height: 36px;
	background-color: #FFF;
}

#content-viewer-controls {display:none;font-size: 0.8em;cursor: pointer;}
#content-viewer-controls i {position: absolute;background: rgb(85, 85, 85);padding: 3px 5px;color: #CCC;}
#content-viewer-controls i.fa-times {top: 6px;left: 6px;}
#content-viewer-controls i.fa-thumb-tack {top: 6px;left: 24px;}
